@import "../../../style/variables";
@name: wool-switch;
.@{name} {
    position: relative;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    min-width: 44px;
    vertical-align: middle;
    border-radius: 100px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 0.36s;
    background-color: rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.65);
    user-select: none;
    .@{name}-inner {
        color: #fff;
        font-size: 12px;
        margin-left: 24px;
        margin-right: 6px;
        display: block;
        &:after {
            position: absolute;
            width: 18px;
            height: 18px;
            left: 1px;
            top: 1px;
            border-radius: 18px;
            background-color: #fff;
            content: " ";
            cursor: pointer;
            transition: all 0.36s cubic-bezier(0.78, 0.14, 0.15, 0.86);
        }
    }
}

.@{name}-checked {
    background-color: #1890ff;
    .@{name}-inner {
        margin-left: 6px;
        margin-right: 24px;
        &:after {
            left: 100%;
            margin-left: -19px;
        }
    }
}

.@{name}-disabled {
    pointer-events: none;
    opacity: 0.4;
}