.app {
    .container {
        width: 1140px;
        padding: 0 30px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .main {
        padding-top: 60px;
        padding-bottom: 95p
    }
}