/* 全局配置 */


/* padding和margin */

.make-pdt(60);
.make-pdt(@n, @i: 0) when (@i =< @n) {
    .pdt@{i} {
        padding-top: (@i*1px) !important;
    }
    .make-pdt(@n, (@i + 1));
}

.make-pdr(60);
.make-pdr(@n, @i: 0) when (@i =< @n) {
    .pdr@{i} {
        padding-right: (@i*1px) !important;
        ;
    }
    .make-pdr(@n, (@i + 1));
}

.make-pdb(60);
.make-pdb(@n, @i: 0) when (@i =< @n) {
    .pdb@{i} {
        padding-bottom: (@i*1px) !important;
        ;
    }
    .make-pdb(@n, (@i + 1));
}

.make-pdl(60);
.make-pdl(@n, @i: 0) when (@i =< @n) {
    .pdl@{i} {
        padding-left: (@i*1px) !important;
        ;
    }
    .make-pdl(@n, (@i + 1));
}

.make-mgt(60);
.make-mgt(@n, @i: -10) when (@i =< @n) {
    .mgt@{i} {
        margin-top: (@i*1px) !important;
        ;
    }
    .make-mgt(@n, (@i + 1));
}

.make-mgr(60);
.make-mgr(@n, @i: 0) when (@i =< @n) {
    .mgr@{i} {
        margin-right: (@i*1px) !important;
        ;
    }
    .make-mgr(@n, (@i + 1));
}

.make-mgb(60);
.make-mgb(@n, @i: 0) when (@i =< @n) {
    .mgb@{i} {
        margin-bottom: (@i*1px) !important;
        ;
    }
    .make-mgb(@n, (@i + 1));
}

.make-mgl(60);
.make-mgl(@n, @i: 0) when (@i =< @n) {
    .mgl@{i} {
        margin-left: (@i*1px) !important;
        ;
    }
    .make-mgl(@n, (@i + 1));
}

.hide {
    display: none
}

.show {
    display: block
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table
}

.clearfix:after {
    clear: both
}

.fl {
    float: left
}

.fr {
    float: right
}

.fn {
    float: none
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.break {
    word-break: break-all;
    word-wrap: break-word
}

.ds-b {
    display: block;
}

.ds-i {
    display: inline;
}

.ds-ib {
    display: inline-block;
}

.ps-a {
    position: absolute;
}

.ps-r {
    position: relative;
}

.text-center {
    vertical-align: middle;
    text-align: center;
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.bold {
    font-weight: 500
}

.line-through {
    text-decoration: line-through;
}

.center {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
}


/* 垂直居中 */

.center-hor {
    display: table;
    &.full-screen {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 9;
    }
    .center-hor-body {
        display: table-cell;
        vertical-align: middle;
        >* {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.center-hor-flex {
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    text-align: center;
    &.full-screen {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 9;
    }
}

.box-shadow-1px-b {
    box-shadow: inset 0px -1px 1px -1px #908f8f;
}

.box-shadow-1px-l {
    box-shadow: inset -1px 0px 1px -1px #908f8f;
}