.common-icon {
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
}


/* .icon-load {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    -webkit-animation: Loading 1s steps(12, end) infinite;
    animation: Loading 1s steps(12, end) infinite;
    background: transparent url("../images/loading.png") no-repeat;
    background-size: 100%;
}

.icon-home {
    background-image: url("../images/home.png");
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    .common-icon()
}

.icon-category {
    background-image: url("../images/category.png");
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    .common-icon()
}

.icon-fresh-eating {
    background-image: url("../images/fresh-eating.png");
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    .common-icon()
}

.icon-store {
    background-image: url("../images/store.png");
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    .common-icon()
}

.icon-time-interval {
    background-image: url("../images/time-interval.png");
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    .common-icon()
}

.icon-down {
    background-image: url("../images/down.png");
    background-size: 18px;
    width: 18px;
    height: 18px;
    .common-icon()
}

.icon-open {
    background-image: url("../images/open.png");
    background-size: 18px;
    width: 18px;
    height: 18px;
    .common-icon()
}

.icon-close {
    background-image: url("../images/close.png");
    background-size: 18px;
    width: 18px;
    height: 18px;
    .common-icon()
} */

@-webkit-keyframes Loading {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes Loading {
    0% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}