/* 基本配置 */

html {
    font-size: calc(100vw/3.75);
}


/* body样式 */

body {
    font-family: SFUIDisplay-Bold, PingFang-SC-Medium, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    line-height: 1;
    font-size: @h5;
    color: @black;
    background-color: @white;
    -webkit-user-select: none;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
}


/* placeholder颜色 */

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: @grey4;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: @grey4;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: @grey4;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: @grey4;
}


/*标题字体*/

.h1 {
    font-size: @h1;
}

.h2 {
    font-size: @h2;
}

.h3 {
    font-size: @h3;
}

.h4 {
    font-size: @h4;
}

.h5 {
    font-size: @h5;
}

.h6 {
    font-size: @h6;
}

.h7 {
    font-size: @h7;
}